@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,700;0,900;1,500&display=swap');

:root{
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    background-color: var(--Desaturated-blue);
    background-image: url(../images/pattern-background-mobile.svg);
}

.container{
    width: 328px;
    height: 570px;
    border: 1px solid red;
    border-radius: 20px;
    overflow: hidden;
    margin: 70px auto;
    background-color: var(--Very-pale-blue);
}

.imagen{
   
    background-color: blueviolet;
}

.container img{
    width: 100%;
    height: 176px;
}

.titulo{
    text-align: center;
    margin: 30px 0 30px;

}

.precios h3{
    text-align: center;

}

p{
    text-align: center;
}













.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }